header {
    padding: 20px;
}

.header {

    nav {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        inline-size: 100%;

        @media (max-width: 1100px) {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            inline-size: 100%;
        }

    }

    .logo {
        img {
            width: 90px;
            height: auto;
            flex: 1;
        }
    }

    .menuMiddle {
        @media (max-width: 1100px) {
            display: none;
        }

        margin-left: auto;
        margin-right: auto;

        a {
            padding: 0px 8px;
        }
    }


}

.menuRight {
    @media (max-width: 1100px) {
        display: none;
    }

    padding-right: 10px;

    a {}

}


// burger menu //

.hamburger {
    z-index: 50;

    span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #000000;
        transition: 0.3s ease-in-out;


        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }

}


.active {
    & span:nth-child(2) {
        opacity: 0;
        transition: 0s;
    }

    & span:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    & span:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);

    }

}

#menuBurger {

    width: 0vh;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: white;
    overflow-x: hidden;

    padding: 30px 0px 20px 0px;
    
    transition: 0.1s ease-in-out;

   
   

    & a {
        display: block;
        padding: 20px 10px;
        font-family: roboto;
        color: #393C41;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 1px solid #d0d1d2;
    }


}



#full-size {
    width: 100%;
    height: 100%;

    /* overflow: hidden; */
    position: absolute;
}

.mask {
    background-color: rgba(0, 0, 0, .25);
    transition: 0.5s;

}