.main {
    text-align: center;
    section {
        h1 {

            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 2px;
        }

        a {
            text-decoration: underline;
            padding: 2px;
        }

    }


}