.main {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
    .M3 {
        h1 {

            font-size: 40px;
            margin-top: 90px;
            margin-bottom: 2px;
        }

        a {
            color: #454546;
            padding-bottom: 2px;
            border-bottom: 1px solid #575858;
        }

    }

    .mainButtons {

        & a {
            position: flex;
            padding: 12px 45px;
            margin: 8px;
            font-family: roboto;
            color: white;
            font-size: 13px;
            line-height: 21px;
            text-transform: uppercase;
            font-weight: 400;

            background-color: #2a2c30e7;
            border-radius: 30px;

            &:nth-child(2) {
                padding: 12px 45px;
                font-family: robotoRegular;
                color: #171a20;
                font-size: 12px;
                line-height: 21px;
                text-transform: uppercase;
                font-weight: 400;
                background-color: #ebeaeaef;

            }
        }
    } 
    & h3 {
margin-top: 40px;
        font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                color: #393c41;
                
    }
}